<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		
		<ul> 
			<% categries.forEach(function(c){%>
			<li>
				<%=c.name%>
			</li>
			<%})%>
  	</ul>  

	</body>
</html>